<!--<html lang="en"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      th:fragment="GameCardFragment"-->
<!--&gt;-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:fragment="GameCardHead">
<!--  <link rel="stylesheet" href="../../../static/css/game-card.css">-->
  <link rel="stylesheet" th:href="@{/css/game-card.css}">
  <script type="module" defer th:src="@{/js/game_card.js}"></script>
</head>


<div class="card-div" th:fragment="GameCardFragment">
  <template id="card-template">
    <div class="card-container">
      <a href="/" class="hero-image-container">
        <img class="hero-image" src="https://i.postimg.cc/NfR2yhNs/image-equilibrium.jpg" alt="Spinning glass cube"/>
      </a>
      <main class="main-content">
        <h1><a href="#">Game Name</a></h1>
        <p>Game Detail Description ... Front is Very Fuck!</p>
      </main>
    </div>
  </template>
</div>
</html>
