<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default-layout}"
      layout:fragment="Content"
>
<head>
    <th:block th:include="/common/fragments/game-card :: GameCardHead"></th:block>
    <style>
        .card-div {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 10px;
            justify-content: start;
        }
        @media (max-width: 900px) {
            .card-div {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        @media (max-width: 600px) {
            .card-div {
                grid-template-columns: 1fr;
            }
        }
    </style>
</head>
<body>
<header th:replace="/common/fragments/header :: HeaderFragment"></header>
<div class="content">
    <div class="sector">
        <div class="sector-header">
            <h1>Support Games.</h1>
        </div>
        <div class="sector-body">
            <div th:replace="/common/fragments/game-card :: GameCardFragment"></div>
        </div>
    </div>

</div>
</body>
</html>
