<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default-layout}"
      layout:fragment="Content"
>
<head>
    <th:block th:include="/common/fragments/game-card :: GameCardHead"></th:block>
    <style>
        .card-div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 10px;
            column-gap: 20px;
        }
    </style>
</head>
<body>
<div class="content">
    <header th:replace="/common/fragments/header :: HeaderFragment"></header>
    <div th:replace="/common/fragments/game-card :: GameCardFragment"></div>
</div>
</body>
</html>
