<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default-layout}"
      layout:fragment="Content"
>
<head>
  <link th:inline="css" th:href="@{/css/option-card.css}" rel="stylesheet"/>
  <script type="module" defer th:src="@{/js/server_fetch.js}"></script>
</head>
<body>
<header th:replace="/common/fragments/header :: HeaderFragment"></header>
<div class="content">

  <div>
    <h2> 옵션 생성 구간 - 옵션 Grid 구성 진행 </h2>
    <div class="container">
      <section class="card" id="first-opt">
        <div class="product-image joystic">
          <img th:src="@{/images/option/joystic.png}" alt="OFF-white Red Edition" draggable="false" />
        </div>
        <div class="product-info">
          <h2>First Option</h2>
          <p>The 10: Air Jordan 1 off-white - Chicago</p>
          <div class="price">$999</div>
        </div>
        <div class="btn">
          <button class="buy-btn">Buy Now</button>
      </section>
      <section class="card" id="second-opt">
        <div class="product-image gamepad">
          <img th:src="@{/images/option/gamepad.png}" alt="OFF-white Red Edition" draggable="false" />
        </div>
        <div class="product-info">
          <h2>Second Option</h2>
          <p>The 10: Air Jordan 1 off-white - Chicago</p>
          <div class="price">$999</div>
        </div>
        <div class="btn">
          <button class="buy-btn">Buy Now</button>
      </section>
      <section class="card" id="third-opt">
        <div class="product-image famicom default">
          <img th:src="@{/images/option/famicom.png}" alt="OFF-white Red Edition" draggable="false" />
        </div>
        <div class="product-info">
          <h2>Third Option</h2>
          <p>The 10: Air Jordan 1 off-white - Chicago</p>
          <div class="price">$999</div>
        </div>
        <div class="btn">
          <button class="buy-btn">Buy Now</button>
      </section>
<!--      <section class="card" id="custom-opt">-->
<!--        <div class="product-image default">-->
<!--          <img src="https://i.ibb.co/cNWqxGx/red.png" alt="OFF-white Red Edition" draggable="false" />-->
<!--        </div>-->
<!--        <div class="product-info">-->
<!--          <h2>Custom Option</h2>-->
<!--          <p>The 10: Air Jordan 1 off-white - Chicago</p>-->
<!--          <div class="price">$999</div>-->
<!--        </div>-->
<!--        <div class="btn">-->
<!--          <button class="buy-btn">Buy Now</button>-->
<!--      </section>-->
    </div>
  </div>
  <div>
    <h2>기타 설명 구간</h2>
  </div>

</div>
</body>
</html>
