<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default-layout}"
      layout:fragment="Content"
>
<head>
  <!--    <meta charset="UTF-8">-->
  <!--    <title>ETD</title>-->

  <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="content">
  <div class="sector">
<!--    <div class="sector-header">-->
<!--      <h2> WELCOME! </h2>-->
<!--    </div>-->
    <div class="sector-body">
      <div class="login-box">
        <div class="login-header">
          <h1>Login</h1>
        </div>
        <div class="login-btn-box">
          <input type="button" class="login-btn" id="google-btn" onclick="alert('클릭!')">
          <input type="button" class="login-btn" id="kakao-btn" onclick="alert('클릭!')">
<!--          <button class="login-btn">-->
<!--            <img th:src="@{/images/login/google.svg}" alt="Google">-->
<!--          </button>-->
<!--          <button class="login-btn">-->
<!--            <img th:src="@{/images/login/kakaotalk.svg}" alt="Kakao Talk">-->
<!--          </button>-->
        </div>
      </div>
  </div>

</div>
</body>
</html>
