html {
    font-size: 62.5%; /* 62.5% of the base size of 16px = 10px.*/
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}


body {
    /*background: var(--primary-color);*/
    /*background-color: #18191a;*/
    font-size: 1.6rem; /* reset 10*1.6 = 16px, to make sure you do not get any 10px around */
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.content {
    margin-left: 100px;
}
