.server-area {
    border: 1px red solid;
    width: 100%;
    color: #D2D1D5;
}

.server-table {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.server-table thead th {
    background-color: #C63D2F;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.server-table tbody tr {
    color: #18191a;
    padding: 3px 10px;
    text-align: center;
    /*font-family: 'Fjalla One';*/
}

tbody tr:nth-child(even) {
    background-color: #EADBC8;
}
tbody tr:nth-child(odd) {
    background-color: #F8F0E5;
}
tbody .noBorder {
    border:none !important;
}

tbody tr:hover {
    background-color: #E25E3E;
    cursor: pointer;
}


.no-contents {
    background-color: #EADBC8;
    color: #18191a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10em;
}

.user-info {
    background-color: #F9E8D9;
    border: #E25E3E 5px solid;
    border-radius: 5px 20px 20px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1);*/
}

.user-info-row {
    /*border: 1px red solid;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: start;
    font-size: 2rem;
    font-weight: 700;
}

.user-info-row label {
    width: 100%;
    /*border: 1px blue solid;*/
}
.user-info-row input {
    width: 100%;
    display: block;
    /*font-size: $font-size*/
    /*line-height: $font-size * 2*/
    /*font-family: $font-face*/
    /*margin-bottom: 3px;*/
    border: none;
    /*border-bottom: 5px solid rgba(0,0,0,1);*/
    border-bottom: 5px solid #E25E3E;
    /*background: #ffa580;*/
    background-color: #F9E8D9;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: rgba(0,0,0,1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border-bottom: 5px solid #ffa580;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
}


