.server-area {
    border: 1px red solid;
    width: 100%;
    color: #D2D1D5;
}

.server-table {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.server-table thead th {
    background-color: #C63D2F;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.server-table tbody tr {
    color: #18191a;
    padding: 3px 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #EADBC8;
}
tbody tr:nth-child(odd) {
    background-color: #F8F0E5;
}
tbody .noBorder {
    border:none !important;
}

tbody tr:hover {
    background-color: #E25E3E;
    cursor: pointer;
}


.no-contents {
    background-color: #EADBC8;
    color: #18191a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10em;
}


