<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default-layout}"
      layout:fragment="Content"
>
<head>
<!--    <meta charset="UTF-8">-->
<!--    <title>ETD</title>-->

    <link th:href="@{/css/home.css}" rel="stylesheet"/>
    <link th:href="@{/css/text-code.css}" rel="stylesheet"/>
    <script type="module" defer th:src="@{/js/text_code.js}"></script>
</head>
<body>
<div class="content">

    <div class="screen">
        <img th:src="@{/images/home-bg.png}">
        <div class="text-code">
            <article>
                <h1 id="headline">Easy To Dedicate!</h1>
                <!--            <p id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum dignissimos sint dolores necessitatibus repellendus in nemo expedita ullam numquam, placeat, laborum beatae, vero. Similique dolorem enim repellat impedit reiciendis, non.</p>-->
                <p id="text">Create Your Game Server!</p>
<!--                <button id="shuffler">shuffle</button>-->
            </article>
        </div>
    </div>


</div>
</body>
</html>
